body {
  margin: 0;
  padding: 0;
}

.header-container {
  height: 30px;
  background-color: #004365;
  display: flex; /* or inline-flex */
  justify-content: flex-start;
  padding: 8px;
}

.vertical-center {
  margin: 0;
  align-self: center;
}

.title-first {
  color: #fff;
  font-weight: bold;
  font-size: large;
}

.title-second {
  color: #ff572e;
  font-weight: bold;
  font-size: large;
}

.link {
  text-decoration: none;
  font-weight: 700;
}

ul {
  list-style-type: none;
  padding-left: 12px;
}

li {
  margin-bottom: 5px;
}

h2 {
  color: blue;
}

h3 {
  margin-top: 0;
}

/* unvisited link */
a:link {
  color: #006bd7;
}

/* visited link */
a:visited {
  color: #006bd7;
}

/* mouse over link */
a:hover {
  color: #006bd7;
}

/* selected link */
a:active {
  color: #006bd7;
}

.section-content {
  width: 50%;
  padding: 12px;
  margin: 12px;
}

.section-title {
  font-size: 1rem;
    line-height: 1em;
    color: #ff4000;
}

.btn-remove {
  margin-right: 8px;
  border: 0.0625rem solid transparent;
  border-radius: 0.125rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.3rem;
  vertical-align: middle;
  background: #fd612c;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  text-transform: uppercase;
  font-size: 0.8125rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
